<app-navbar></app-navbar>

<div>
  <img src="/assets/banner/banner-4.jpg" class="img-fluid" alt="..." />

  <div class="container">
    <div class="row">
      <div class="col-sm-9 p-3 pe-sm-5">
        <div class="pb-3">
          <h1>
            <span class="text-bold">Sólida experiencia en el rubro</span>
          </h1>
        </div>
        <div class="text-muted fs-6">
          <p>
            En <span class="fw-bold">Cleaning Services</span> nos aseguramos que
            la limpieza de su empresa, oficina, centro comercial, comunidad,
            industria o finales de obra sea 100% efectiva y de primer nivel.
          </p>
          <p>
            Para eso, brindamos una solución integral en Málaga y alrededores,
            trabajando con los mejores métodos, maquinarias y productos del
            mercado. Además, somos la empresa de limpieza con mejor oferta del
            mercado en relación calidad-precio-servicio, realizamos
            permanentemente control de calidad y nos aseguramos que las tareas
            estén correctamente realizadas. Con nuestros servicios, contribuimos
            a dejar sus instalaciones en óptimas condiciones y así crear una
            sensación de bienestar para quienes hagan uso de esos espacios.
          </p>
          <p>
            En <span class="fw-bold">Cleaning Services</span> tenemos en cuenta
            las superficies sobre las que se trabaja para no producir
            alteraciones que puedan dañar tejidos o estados originales, ya sea
            de alfombras, piso duros o blandos, vidrios, ventanas u otro tipo de
            cristalería. De esta manera, usted podrá deshacerse de residuos,
            ácaros, polvo, tierra, arena y manchas de la forma más segura
            posible.
          </p>
        </div>
      </div>

      <div class="col-sm-3 justify-content-center text-center">
        <div class="card bg-secondary">
          <div class="col sf-1 p-3">
            <h1>
              <i class="bi bi-building"></i>
            </h1>
          </div>
          <div class="col p-3">
            <h1 class="fs-2">Gran experiencia</h1>
          </div>

          <div class="col p-4 p-sm-3">
            <p>
              Al contratar nuestra empresa, garantizamos la mejor calidad en
              servicios integrales de limpieza. Con resultados eficientes,
              atención inmediata y confiabilidad para su empresa.
            </p>
          </div>
          <div class="col p-3 mb-3">
            <a href="/services" class="btn btn-warning"
              >Vea nuestros servicios</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Divisor -->
  <div class="section-2 mt-4">
    <div class="container">
      <div class="p-3">
        <h2 class="fs-1 text-center p-4">MÁS SOBRE NOSOTROS</h2>

        <div class="row row-cols-1 row-cols-md-3 g-4 text-center text-muted">
          <div class="col">
            <div class="card shadow mb-3">
              <div class="col fs-1 pt-3">
                <span>
                  <i class="bi bi-archive-fill"></i>
                </span>
              </div>
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title pb-2">PRODUCTOS DE CALIDAD</h5>
                  <p class="card-text">
                    Contamos con químicos, ácidos decapantes y desinfectantes de
                    primera calidad, bajos en toxicidad e inoloros, que
                    otorgarán un plus para la higiene de sus instalaciones.
                    <br /><br />
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow mb-3">
              <div class="col fs-1 pt-3">
                <span>
                  <i class="bi bi-star-fill"></i>
                </span>
              </div>
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title pb-2">PERSONAL CAPACITADO</h5>
                  <p class="card-text">
                    El personal con el que contamos se encuentra especializado y
                    capacitado para ofrecerle un servicio seguro y confiable.
                    Todo el personal es identificado con un uniforme prolijo y
                    distintivo para cuidar la imagen y la presencia de la
                    empresa.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow mb-3">
              <div class="col fs-1 pt-3">
                <span>
                  <i class="bi bi-shield-lock-fill"></i>
                </span>
              </div>
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title pb-2">SERVICIO SEGURO Y RESPONSABLE</h5>
                  <p class="card-text">
                    La empresa se asegura de entregar a todos sus clientes una
                    carpeta mensual con comprobantes legales y certificados de
                    los compromisos asumidos, contribuyendo a la formación de un
                    servicio seguro y responsable.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Por que elegirnos -->
  <div class="container">
    <div class="card shadow p-5 m-3 mt-5 mb-5 text-muted text-justify">
      <div class="p-sm-5">
        <div class="col">
          <h2 class="fs-1 pb-5">¿Por qué elegirnos?</h2>
        </div>

        <div class="col">
          <p>
            <span class="fw-bold">Cleaning Services</span> es la mejor opción
            del mercado en cuanto precio-calidad que contribuirá de manera
            correcta a que usted, los empleados de su empresa y todo aquel que
            pase por ella se desarrolle en ambientes confortables y pulcros.
          </p>
          <p>
            Todos los servicios de limpieza de
            <span class="fw-bold">Cleaning Services</span> se encuentran
            respaldados por profesionales de Seguridad e Higiene que brindan
            confiabilidad a todos nuestros clientes. Sumado a esto, para poder
            otorgar un servicio óptimo, nuestros supervisores visitan en forma
            frecuente cada uno de los trabajos para corroborar que todos los
            servicios se estén ofreciendo de manera correcta.
          </p>
        </div>
        <img
          src="/assets/CleaningServices-Logo-360x120.jpg"
          class="img-fluid pt-5 rounded mx-auto d-block"
          alt="..."
        />
      </div>
    </div>
  </div>

  <app-banner-contact></app-banner-contact>

  <app-footer></app-footer>
</div>
