<footer class="bg-dark text-white">
  <div class="container">
    <div class="row p-4 pt-5">
      <div class="col-12 col-sm-5 pe-sm-5">
        <img
          src="/assets/CleaningServices-Logo-360x120.jpg"
          class="img-thumbnail"
          alt="..."
          width="240px;"
        />
        <p class="pt-4">
          En Cleaning Services, brindamos un servicio de limpieza profesional,
          con tecnología de punta y un equipo altamente capacitado,
          especializado en el mantenimiento integral de todos los espacios de
          trabajo.
        </p>
      </div>

      <div class="col-12 col-sm-3">
        <h5 class="fs-4 pb-3">Navegación</h5>
        <div class="fs-6">
          <a href="/" class="list-group-item list-group-item-action pb-2">
            <span><i class="bi bi-house-fill"></i></span> Inicio</a
          >
          <a href="/about" class="list-group-item list-group-item-action pb-2">
            <span><i class="bi bi-person-square"></i></span> Nosotros</a
          >
          <a
            href="/services"
            class="list-group-item list-group-item-action pb-2"
          >
            <span><i class="bi bi-bucket-fill"></i></span> Servicios</a
          >
          <a href="/covid" class="list-group-item list-group-item-action pb-2">
            <span><i class="bi bi-exclamation-triangle-fill"></i></span>
            Covid-19</a
          >
          <a
            href="/contact"
            class="list-group-item list-group-item-action pb-2"
          >
            <span><i class="bi bi-telephone-inbound-fill"></i></span>
            Contacto</a
          >
        </div>
      </div>

      <div class="col-12 col-sm-4">
        <h5 class="fs-4 pb-3">Contáctenos</h5>

        <div class="fs-6">
          <div class="list-group-item list-group-item-action pb-2">
            <a
              href="https://wa.me/34611161967"
              class="list-group-item list-group-item-action pb-2"
              target="_blank"
            >
              <span><i class="bi bi-whatsapp"></i></span> (+34) 611 16 19 67</a
            >
          </div>

          <a
            href="mailto:limpieza@cleaningservicesweb.es"
            class="list-group-item list-group-item-action pb-2"
          >
            <span><i class="bi bi-envelope-check-fill me-1"></i></span>
            limpieza&#64;cleaningservicesweb.es</a
          >
        </div>
      </div>
    </div>
    <div>
      <p class="text-center text-secondary p-5">
        Copyright &copy; 2024 - Cleaning Services | Todos los derechos
        reservados.
      </p>
    </div>
  </div>
</footer>
