<app-navbar></app-navbar>

<div class="p-5 text-white text-center bg-secondary section-4">
  <div class="container">
    <h1 class="pt-5 pb-5">CONTACTO</h1>
  </div>
</div>

<div class="container">
  <h2 class="fs-4 pt-3 p-sm-5 text-center">
    Nuestra intención es ayudarlo, si requiere de algún servicio de limpieza
    contáctenos sin compromiso y obtenga una asesoría profesional sin costo.
  </h2>
  <div class="row justify-content-center p-2 p-sm-5">
    <div class="col pt-5 ps-sm-5">
      <h5 class="fs-3 pb-4">Contáctenos</h5>

      <div class="fs-5">
        <a
          href="https://wa.me/34611161967"
          class="list-group-item list-group-item-action pb-3"
          target="_blank"
        >
          <span><i class="bi bi-whatsapp"></i></span> (+34) 611 16 19 67</a
        >

        <a
          href="mailto:limpieza@cleaningservicesweb.es"
          class="list-group-item list-group-item-action pb-2"
        >
          <span><i class="bi bi-envelope-check"></i></span>
          limpieza&#64;cleaningservicesweb.es</a
        >
      </div>
    </div>

    <div class="col">
      <div class="card shadow">
        <form
          class="row p-3 g-3"
          action="https://formsubmit.co/andresdngtt@gmail.com"
          method="POST"
        >
          <div class="col-12">
            <span class="text-muted"
              >Los campos marcados con * son obligatorios</span
            >
          </div>
          <div class="col-6">
            <label for="inputName" class="form-label fw-bold">
              <span> Nombre y Apellido *</span></label
            >
            <input
              type="text"
              class="form-control"
              id="inputName"
              name="Nombre"
              required
            />
          </div>
          <div class="col-6">
            <label for="inputTel" class="form-label fw-bold">
              <span> Teléfono</span></label
            >
            <input
              type="text"
              class="form-control"
              id="inputTel"
              name="Telefono"
            />
          </div>
          <div class="col-12">
            <label for="inputEmail4" class="form-label fw-bold"
              ><span>Email *</span></label
            >
            <input
              type="email"
              class="form-control"
              id="inputEmail4"
              name="Email"
              required
            />
          </div>
          <div class="col-md-12">
            <label for="inputSubject" class="form-label fw-bold"
              ><span>Asunto *</span></label
            >
            <input
              type="text"
              class="form-control"
              id="inputSubject"
              name="Asunto"
              required
            />
          </div>

          <div class="col-12">
            <label for="mensaje" class="form-label fw-bold"
              ><span>Mensaje *</span></label
            >
            <textarea
              class="form-control"
              id="mensaje"
              rows="3"
              name="mensaje"
              required
            ></textarea>
          </div>
          <div class="col-12 d-flex justify-content-end">
            <button type="submit" class="btn btn-warning">Enviar</button>
          </div>

          <!--Email config-->
          <input type="hidden" name="_next" value="http://localhost:4200/" />
          <input
            type="hidden"
            name="_subject"
            value="Nuevo mensaje desde Cleaning Services!"
          />
          <input type="hidden" name="_template" value="table" />
          <input type="hidden" name="_captcha" value="false" />
        </form>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
