<div class="p-2">
  <a href="/">
    <img
      class="mx-auto d-block"
      src="./assets/CleaningServices-Logo-360x120.jpg"
      alt="cleaning-services-logo"
      width="180"
      height="60"
    />
  </a>
</div>
<nav class="d-flex navbar navbar-expand-lg fw-bold text-dark bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">NOSOTROS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services">SERVICIOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/covid">COVID-19</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">CONTACTO</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
