<app-navbar></app-navbar>

<div class="p-5 text-white text-center bg-secondary section-4">
  <h1 class="pt-5 pb-5">SERVICIOS INTEGRALES DE LIMPIEZA</h1>
</div>

<div class="container">
  <div class="p-3 p-sm-5 text-center text-muted">
    <h3>Hacemos de sus instalaciones</h3>
    <h1 class="text-secondary pb-3">ESPACIOS AGRADABLES</h1>
    <p>
      Gracias a nuestros sistemas y planes de limpieza, que conjugan personal
      capacitado, tecnología de punta y los mejores productos de aseo, estamos
      en capacidad de ofrecer un excelente y óptimo servicio de limpieza a cada
      uno de los espacios de su empresa, que abarcan espacios administrativos y
      comerciales en general, oficinas, bancos, hoteles, centros de
      convenciones, teatros, colegios, centros deportivos, parques de
      diversiones, estacionamientos, cocinas, laboratorios, clínicas, plantas
      industriales, acabados de finales de obra y áreas verdes.
    </p>
  </div>
  <div class="section-3 pt-3">
    <div class="p-4 text-center fst-italic text-white bg-secondary rounded">
      <h1 class="fs-2">COMUNIDADES</h1>
    </div>
    <div class="row d-flex align-items-center mt-3 text-muted">
      <div class="col-sm-6 order-2 order-sm-1">
        <img
          src="/assets/services/services-1.jpg"
          class="img-fluid rounded mx-auto d-block shadow"
          alt="..."
        />
      </div>
      <div class="col-sm-6 order-1 order-sm-2">
        <h3 class="pb-3">Limpieza de comunidades de vecinos.</h3>
        <p>
          Las fincas urbanas requieren un sistema de limpieza y mantenimiento
          adecuado que asegure el máximo grado de higiene y estética,
          independientemente de la afluencia de personas.
        </p>
        <p>
          Nuestro sistema de limpieza de comunidades, tanto en edificios
          residenciales como en edificios de oficinas, es llevado a cabo por
          equipos complementarios en los que cada operario está especializado en
          dar soluciones profesionales a problemas específicos.
        </p>
      </div>
    </div>

    <div class="row justify-content-md-center p-2 p-sm-5">
      <div class="col-md-8">
        <p>
          Somos especialistas en la limpieza de comunidades de propietarios, con
          un sistema enfocado a ofrecer la mejor imagen de las zonas comunes,
          preservando la seguridad y bienestar de vecinos y visitantes:
        </p>
        <ul>
          <li>
            Estudio previo de trabajos y operaciones necesarias en función de
            las características del inmueble.
          </li>
          <li>
            Especial atención en zonas que requieran un tratamiento específico,
            como patios interiores o suelos de mármol, siempre evitando rayar
            cualquier superficie.
          </li>
          <li>
            Prioridad en la eliminación de la suciedad, que ofrezca una higiene
            real y una mejor percepción estética de cada espacio.
          </li>
          <li>
            Adaptación a la frecuencia de paso de la finca, sin entorpecer el
            tránsito habitual en zonas comunes, permitiendo una limpieza más
            duradera.
          </li>
          <li>
            Procedimiento ECO Friendly para lograr un ambiente más sano,
            saludable y agradable.
          </li>
          <li>
            Mejora de la seguridad mediante el compromiso de dejar todas las
            superficies limpias, desinfectadas y secas, evitando resbalones o
            contactos desagradables con barandillas, botones de ascensor, etc.
          </li>
        </ul>

        <app-btn-contact></app-btn-contact>
      </div>
    </div>
  </div>

  <div class="section-3 mt-3">
    <div class="p-4 text-center fst-italic text-white bg-secondary rounded">
      <h1 class="fs-2">OFICINAS Y COMERCIOS</h1>
    </div>
    <div class="row d-flex align-items-center mt-3 text-muted">
      <div class="col-sm-6 order-1 order-sm-2">
        <h3 class="pb-3">Limpieza de oficinas.</h3>

        <p>
          Las oficinas son el foco de muchas enfermedades e infecciones a causa
          de la gran cantidad de gérmenes que allí se acumulan.
        </p>
        <p>
          Nuestro sistema de higienización y desinfección de oficinas se basa
          tanto en la eliminación de suciedad y los gérmenes, como en la
          prevención de su aparición.
        </p>
        <p>
          La limpieza de oficinas idónea no sólo permite ofrecer una buena
          imagen al público, sino que protege la salud de los empleados y mejora
          las condiciones de trabajo.
        </p>
      </div>
      <div class="col-sm-6 order-2">
        <img
          src="/assets/services/services-2.jpg"
          class="img-fluid rounded mx-auto d-block shadow"
          alt="..."
        />
      </div>
    </div>

    <div class="row justify-content-md-center p-2 p-sm-5">
      <div class="col-md-8">
        <p>
          Nuestro servicio de limpieza de recintos cerrados cuenta con los
          sistemas de desinfección más avanzados:
        </p>
        <ul>
          <li>
            Limpieza sin químicos; que no deja residuos, respeta el medio
            ambiente y preserva la salud de las personas.
          </li>
          <li>Desinfección aeróbica para disfrutar de un aire saludable.</li>
          <li>
            Limpieza especial de aparatos ofimáticos que asegura su perfecto
            uso.
          </li>
          <li>
            Especial atención a elementos sensibles como teléfonos y teclados de
            ordenador.
          </li>
          <li>
            Eliminación de bacterias para prevenir enfermedades e infecciones.
          </li>
        </ul>

        <app-btn-contact></app-btn-contact>
      </div>
    </div>
  </div>

  <div class="section-3 mt-3">
    <div class="p-4 text-center fst-italic text-white bg-secondary rounded">
      <h1 class="fs-2">INDUSTRIAS</h1>
    </div>
    <div class="row d-flex align-items-center mt-3 text-muted">
      <div class="col-sm-6 order-2 order-sm-1">
        <img
          src="/assets/services/services-3.jpg"
          class="img-fluid rounded mx-auto d-block shadow"
          alt="..."
        />
      </div>
      <div class="col-sm-6 order-1 order-sm-2">
        <h3 class="pb-3">Limpieza Industrial.</h3>

        <p>
          La limpieza de un pabellón industrial influye de manera directa en el
          desempeño de los trabajadores, la percepción de los clientes y la
          eficiencia de la maquinaria.
        </p>
        <p>
          La limpieza de naves industriales tiene elementos comunes a otro tipo
          de edificios, como vestuarios, baños, cocinas u oficinas; en los que
          aplicamos las técnicas habituales para esos espacios. Pero también, en
          función de la actividad de la empresa, requiere un análisis punto por
          punto de las circunstancias concretas del espacio productivo, del
          almacén y de otras zonas con necesidades específicas.
        </p>
        <p>
          La industria es el motor de la actividad económica de nuestro entorno
          y nosotros ponemos nuestro granito de arena con experiencia y
          conocimiento desde la limpieza para que lo siga siendo.
        </p>
      </div>
    </div>

    <div class="row justify-content-md-center p-2 p-sm-5">
      <div class="col-md-8">
        <p>
          Nuestro sistema de limpieza industrial está concebido para adaptarse
          al 100% a las necesidades reales de la fábrica:
        </p>
        <ul>
          <li>
            Estudio previo para analizar las necesidades, implicaciones y
            características del recinto y la actividad.
          </li>
          <li>
            Empleo de la última tecnología, como nanotecnología o limpieza
            criogénica, para favorecer la máxima vida útil de la maquinaria
            industrial.
          </li>
          <li>
            Equipo de limpieza industrial experimentado y especializado, con
            formación en prevención de riesgos laborales.
          </li>
          <li>
            Adaptación a cada cliente, sin entorpecer la actividad habitual de
            la empresa y logrando un acabado perfecto.
          </li>
        </ul>

        <app-btn-contact></app-btn-contact>
      </div>
    </div>
  </div>

  <div class="section-3 mt-3">
    <div class="p-4 text-center fst-italic text-white bg-secondary rounded">
      <h1 class="fs-2">CONCESIONARIOS Y TALLERES</h1>
    </div>
    <div class="row d-flex align-items-center mt-3 text-muted">
      <div class="col-sm-6 order-1 order-sm-2">
        <h3 class="pb-3">Limpieza de Concesionarios y Talleres.</h3>
        <p>
          contamos con todo lo que se necesita para garantizar una limpieza
          adecuada de concesionarios y centros de venta de coches, espacios en
          los que la cantidad de personas diferentes que entra y sale hace que
          se necesite un trabajo de gran calidad y eficacia. Sabemos que su
          concesionario debe tener el mejor aspecto para que los clientes se
          encuentren a gusto, además de garantizar una limpieza integral. No
          basta solo con limpiar lo que se ve, sino que es importante asegurarse
          de que todo está en las mejores condiciones de higiene.
        </p>
        <p>
          Cuando usted dirige un negocio, cualquier tipo de negocio, mantenerlo
          limpio es inmensamente importante. Un concesionario de automóviles
          limpio puede aumentar las ventas y mejorar sus posibilidades de atraer
          a más clientes.
        </p>
      </div>
      <div class="col-sm-6 order-2">
        <img
          src="/assets/services/services-4.jpg"
          class="img-fluid rounded mx-auto d-block shadow"
          alt="..."
        />
      </div>
    </div>

    <div class="row justify-content-md-center p-2 p-sm-5">
      <div class="col-md-8">
        <p>
          Nuestra empresa cuida todos los detalles y se preocupa por el medio
          ambiente. Por ello elaboramos nuestro sistema de trabajo para mantener
          las instalaciones de venta de coches completamente limpias respetando
          y cuidando las superficies, asegurando el brillo y la eliminación de
          cualquier resto que pueda haber. Ajustamos nuestro protocolo a sus
          necesidades específicas partiendo de unas acciones concretas:
        </p>
        <ul>
          <li>
            Limpieza de vehículos. Los coches tienen que estar en perfectas
            condiciones para los clientes. Por ello realizamos la limpieza de
            interiores siempre que sea necesario con el fin de garantizar una
            buena impresión.
          </li>
          <li>
            Suelos. Barremos, pasamos la mopa y fregamos en función del tipo de
            pavimento que haya en cada zona para que esté perfecto.
          </li>
          <li>
            Servicios. Higienizamos los cuartos de baño y aplicamos los
            tratamientos que hagan falta para evitar la aparición de moho,
            incrustaciones de cal, etc.
          </li>
          <li>
            Limpieza de cristales y cromados. Nos encargamos de que no haya
            huellas ni manchas en cristales, espejos y partes metálicas. También
            eliminamos el polvo de todas las superficies.
          </li>
          <li>
            Mobiliario. Limpiamos mesas, mostradores, lámparas y despachos
            completos.
          </li>
        </ul>

        <app-btn-contact></app-btn-contact>
      </div>
    </div>
  </div>

  <div class="section-3 mt-3">
    <div class="p-4 text-center fst-italic text-white bg-secondary rounded">
      <h1 class="fs-2">EVENTOS</h1>
    </div>
    <div class="row d-flex align-items-center mt-3 text-muted">
      <div class="col-sm-6 order-2 order-sm-1">
        <img
          src="/assets/services/services-5.jpg"
          class="img-fluid rounded mx-auto d-block shadow"
          alt="..."
        />
      </div>
      <div class="col-sm-6 order-1 order-sm-2">
        <h3 class="pb-3">Limpieza para Eventos.</h3>

        <p>
          Corporativos, empresariales, deportivos, gastronómicos, espectáculos,
          exposiciones, festivales al aire libre o en salones.
        </p>
        <p>
          La limpieza de un evento contribuye a la organización y al éxito de
          cada evento.
        </p>
        <p>
          Combinando las nuevas tecnologías y un personal capacitado para hacer
          un trabajo más eficiente, su evento será todo un éxito.
        </p>
      </div>
    </div>

    <div class="row justify-content-md-center p-2 p-sm-5">
      <div class="col-md-8">
        <p>
          La limpieza organizada no es un detalle menor sino que favorece a la
          realización de todo evento. Por eso, te ofrecemos un servicio que
          incluye tres etapas:
        </p>
        <ul>
          <li>
            Antes del evento, se realiza una limpieza y se deja todo preparado y
            listo para su comienzo.
          </li>
          <li>
            Durante el evento, se realizan tareas de repaso, de mantenimiento de
            baños y recolección de residuos.
          </li>
          <li>
            Después del evento, se limpia de forma integral para dejar el salón
            o el espacio en las mismas condiciones en las que se entregó.
          </li>
        </ul>

        <app-btn-contact></app-btn-contact>
      </div>
    </div>
  </div>

  <div class="section-3 mt-3">
    <div class="p-4 text-center fst-italic text-white bg-secondary rounded">
      <h1 class="fs-2">PRIVADOS Y VACACIONALES</h1>
    </div>
    <div class="row d-flex align-items-center mt-3 text-muted">
      <div class="col-sm-6 order-1 order-sm-2">
        <h3 class="pb-3">
          Brindamos soluciones personalizadas para su negocio.
        </h3>

        <p>
          La limpieza doméstica no ha de ser un trabajo extra, por eso nuestros
          clientes confían en nuestra limpieza a domicilio para ahorrar su
          tiempo y mejorar las condiciones higiénicas de sus casas y apartamntos
          vacacionales.
        </p>
        <p>
          Nuestro servicio de limpieza de domicilios particulares y
          vacacionales, incorpora todas las mejoras e innovaciones que se
          aplican en sectores industriales para lograr un hogar seguro,
          saludable y libre de toda suciedad.
        </p>
        <p>
          Un servicio de limpieza profesional mantiene limpia cada estancia,
          pero sobre todo, mejora la calidad de vida de las personas que lo
          habitan.
        </p>
      </div>
      <div class="col-sm-6 order-2">
        <img
          src="/assets/services/services-6.jpg"
          class="img-fluid rounded mx-auto d-block shadow"
          alt="..."
        />
      </div>
    </div>

    <div class="row justify-content-md-center p-2 p-sm-5">
      <div class="col-md-8">
        <p>
          Ofrecemos limpieza de casas particulares y apartamentos vacaiocnales
          puntuales, periódicas o generales, en las que prestamos especial
          cuidado a preservar las condiciones óptimas del mobiliario y la salud
          de los inquilinos y sus mascotas:
        </p>
        <ul>
          <li>
            Sistema de limpieza que no utiliza químicos, reduce el consumo de
            agua, elimina los tóxicos, reduce el consumo energético y gestiona
            los residuos de forma adecuada.
          </li>
          <li>
            Limpieza del aire para un ambiente saludable y buen olor duradero.
          </li>
          <li>
            Eliminación de bacterias, especialmente en lugares sensibles como
            baños y cocinas.
          </li>
          <li>
            Personal de confianza con experiencia y conocimiento para realizar
            una limpieza de máxima calidad durante más tiempo.
          </li>
        </ul>

        <app-btn-contact></app-btn-contact>
      </div>
    </div>
  </div>
</div>

<app-banner-contact></app-banner-contact>

<app-footer></app-footer>
