<div class="container section-1">
  <div class="p-3">
    <h2 class="display-6 text-center p-4">NUESTROS SERVICIOS</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <a href="/services" class="list-group-item list-group-item-action">
          <div class="card shadow">
            <img
              src="./assets/services/services-1.jpg"
              alt="img-comunidades"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-center">COMUNIDADES</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/services" class="list-group-item list-group-item-action">
          <div class="card shadow">
            <img
              src="./assets/services/services-2.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-center">OFICINAS Y COMERCIOS</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="/services" class="list-group-item list-group-item-action">
          <div class="card shadow">
            <img
              src="./assets/services/services-3.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-center">INDUSTRIAS</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/services" class="list-group-item list-group-item-action">
          <div class="card shadow">
            <img
              src="./assets/services/services-4.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-center">CONCESIONARIOS Y TALLERES</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="/services" class="list-group-item list-group-item-action">
          <div class="card shadow">
            <img
              src="./assets/services/services-5.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-center">EVENTOS</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="/services" class="list-group-item list-group-item-action">
          <div class="card shadow">
            <img
              src="./assets/services/services-6.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-center">PRIVADOS Y VACACIONALES</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Por que elegirnos -->
<div class="section-2 mt-4 mb-4">
  <div class="container">
    <div class="p-3">
      <h2 class="display-6 text-center p-4">POR QUE ELEGIRNOS</h2>

      <div class="row row-cols-1 row-cols-md-3 g-4 text-muted">
        <div class="col">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-3">
                <img
                  src="/assets/icons/personalizado.png"
                  class="img-fluid p-4"
                  alt="..."
                />
              </div>
              <div class="col-9">
                <div class="card-body">
                  <h5 class="card-title">ASESORÍA PERSONALIZADA</h5>
                  <p class="card-text">
                    Profesionales y técnicos con amplia experiencia y
                    trayectoria.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-3">
                <img
                  src="/assets/icons/eficacia.png"
                  class="img-fluid p-4"
                  alt="..."
                />
              </div>
              <div class="col-9">
                <div class="card-body">
                  <h5 class="card-title">MÁXIMA EFICACIA</h5>
                  <p class="card-text">
                    Soluciones con calidad, seguridad y amigables con el medio
                    ambiente.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-3">
                <img
                  src="/assets/icons/amedida.png"
                  class="img-fluid p-4"
                  alt="..."
                />
              </div>
              <div class="col-9">
                <div class="card-body">
                  <h5 class="card-title">PROPUESTA A MEDIDA</h5>
                  <p class="card-text">
                    Focalización en los objetivos del cliente.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-3">
                <img
                  src="/assets/icons/comunicacion.png"
                  class="img-fluid p-4"
                  alt="..."
                />
              </div>
              <div class="col-9">
                <div class="card-body">
                  <h5 class="card-title">COMUNICACIÓN</h5>
                  <p class="card-text">
                    Comunicación fluida con nuestros expertos.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-3">
                <img
                  src="/assets/icons/diagnostico.png"
                  class="img-fluid p-4"
                  alt="..."
                />
              </div>
              <div class="col-9">
                <div class="card-body">
                  <h5 class="card-title">DIAGNÓSTICO EN CONJUNTO</h5>
                  <p class="card-text">Generación y asistencia en proyectos.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-3">
                <img
                  src="/assets/icons/planificacion.png"
                  class="img-fluid p-4"
                  alt="..."
                />
              </div>
              <div class="col-9">
                <div class="card-body">
                  <h5 class="card-title">PLANIFICACIÓN</h5>
                  <p class="card-text">
                    Plan de acción con oportunidades de mejora.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Divisor -->
<div class="container section-3">
  <div
    class="row row-cols-1 row-cols-md-2 d-flex align-items-center mt-3 text-muted"
  >
    <div class="col-md-6">
      <img
        src="/assets/img-section-1.jpg"
        class="img-fluid rounded mx-auto d-block shadow"
        alt="..."
      />
    </div>
    <div class="col-md-6">
      <h3 class="pb-3">Brindamos soluciones personalizadas para su negocio.</h3>

      <p>
        <span><i class="bi bi-check2-circle"></i></span>
        Personal en permanente rotación que garantizan nuestro servicio.
      </p>
      <p>
        <span><i class="bi bi-check2-circle"></i></span>
        Material y herramientas de trabajo de última generación.
      </p>
      <p>
        <span><i class="bi bi-check2-circle"></i></span>
        Constante preparación de nuestros empleados.
      </p>
      <p>
        <span><i class="bi bi-check2-circle"></i></span>
        Cumplimiento horario garantizado.
      </p>
      <p>
        <span><i class="bi bi-check2-circle"></i></span>
        Limpieza, mantenimiento y seguridad, son nuestros valores.
      </p>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">
    <div class="col-md-6">
      <h3 class="pb-3">
        Servicios de limpieza integral enfocada en la búsqueda de la mejora
        continua.
      </h3>

      <p>
        Nuestro propósito es transformar a la comunidad a través de nuestra
        gestión de servicios sustentables. Desde este propósito estamos
        realizando nuestro aporte a la comunidad: brindando un servicio
        esencial, cuidando la salud y el bienestar de las personas, y
        acompañando a nuestros colaboradores y sus familias.
      </p>
    </div>
    <div class="col-md-6">
      <img
        src="/assets/img-section-2.jpg"
        class="img-fluid rounded mx-auto d-block shadow"
        alt="..."
      />
    </div>
  </div>
</div>
