<app-navbar></app-navbar>

<div class="p-5 text-white text-center bg-secondary section-4">
  <h1 class="pt-5">COVID-19</h1>
  <h1 class="fs-2 pb-5">Prevención y Desinfección.</h1>
</div>

<div class="container">
  <div class="section-3 pt-3">
    <div class="row d-flex align-items-center mt-3 text-muted">
      <div class="col-sm-6 order-2 order-sm-1">
        <img
          src="/assets/services/services-7.jpg"
          class="img-fluid rounded mx-auto d-block shadow"
          alt="..."
        />
      </div>
      <div class="col-sm-6 order-1 order-sm-2">
        <h3 class="pb-3">Limpieza y Desinfección.</h3>
        <p>
          Reducir el riesgo de exposición al COVID-19 al limpiar y desinfectar
          es una necesidad fundamental de las empresas y contar con
          profesionales de la limpieza es indispensable en este aspecto.
        </p>
        <p>
          Para desinfectar eficientemente un espacio y volverlo un lugar seguro,
          no hay un solo producto. Cada uno de estos, funciona mejor de acuerdo
          al lugar, el tipo de superficie, el nivel de exposición, entre otros.
          Esto es lo que hace que
          <span class="fw-bold">Cleaning Services</span> brinde un servicio
          profesional diferencial que da tranquilidad a los usuarios de todos
          los espacios, utilizando los productos adecuados para el lugar
          correcto, aplicándolos en la dilución y mediante el procedimiento
          indicados.
        </p>
      </div>
    </div>

    <div class="row justify-content-md-center p-2 p-sm-5">
      <div class="col-md-8">
        <p>
          Ponemos a su disposición nuestro servicio de limpieza y desinfección
          de zonas comunes, tanto interiores como exteriores, contra el
          COVID-19, para empresas, comunidades de vecinos y particulares.
        </p>
        <p>
          Los técnicos de <span class="fw-bold">Cleaning Services</span> están
          capacitados y equipados para brindar servicios expertos de
          desinfección y desinfección antimicrobiana para abordar COVID-19 y
          más:
        </p>
        <ul>
          <li>Interior/Exterior</li>
          <li>Pomos / manijas</li>
          <li>Interruptores de luz</li>
          <li>Dispositivos electrónicos</li>
          <li>Encimeras / gabinetes / muebles</li>
          <li>Inodoros y lavabos / grifos</li>
          <li>Electrodomésticos de cocina</li>
          <li>Garajes</li>
          <li>Botones de ascensor</li>
          <li>Pasamanos de escaleras mecánicas</li>
          <li>¡Y más...!</li>
        </ul>

        <app-btn-contact></app-btn-contact>
      </div>
    </div>
  </div>
</div>

<app-banner-contact></app-banner-contact>

<app-footer></app-footer>
