/* You can add global styles to this file, and also import other style files */

.header {
    background-image: url("/assets/banner.jpg");
    min-height: 40vh;
    height: 60vh;
    width: 100%
}

.carousel-control-next,
.carousel-control-prev {
    width: 3%;
}

.section-1,
h2,
h3,
h4,
h5,
span {
    color: #0077b6;
}

.section-2 {
    background-image: url("/assets/background-features.jpg");
}

.section-2 h2 {
    color: #fff;
}

.section-3 img {
    height: 420px;
    width: auto
}

.section-4 {
    background-image: url("/assets/background-contact.jpg");
}

.section-5 {
    background-image: url("/assets/background-about.jpg");
}

footer a {
    color: #0077b6;
}

footer a:hover {
    color: #fff;
}